body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 20%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
}

.dev-icons {
  font-size: 2rem;
}

.dev-icons .list-inline-item svg {
  width: 2rem;
  height: 2rem;
}

#projects, #blog {
  max-width: 100%;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #757575 !important;
}

.scrollbar::-webkit-scrollbar {
  width: 6px !important;
  background-color: #757575 !important;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px !important;
  background-color: #1560FB !important;
}

.light {
  color: #121212 !important;
  background-color: #FFFFFF !important;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  color: #121212 !important;
}

.light nav {
  background-color: #1560FB !important;
}

.light .card {
  border-color: #E0E0E0 !important;
}

.light .card .card-header {
  background-color: #F5F5F5 !important;
}

.light .card .card-body, .light .card .card-footer {
  color: #121212 !important;
  background-color: #F5F5F5 !important;
}

.light .list-inline-item svg {
  fill: #000000;
}

.dark {
  color: #BDBDBD !important;
  background-color: #121212 !important;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #BDBDBD !important;
}

.dark nav {
  background-color: #212121 !important;
}

.dark .card {
  border-color: #616161 !important;
}

.dark .card .card-header {
  background-color: #121212 !important;
}

.dark .card .card-body, .dark .card .card-footer {
  color: #BDBDBD !important;
  background-color: #212121 !important;
}

.dark .list-inline-item svg {
  fill: #E0E0E0;
}

@media (min-width: 992px) {
  .dark nav {
    background-color: #121212 !important;
  }
  .dark .navbar {
    border-right: 0.1rem solid #212121 !important;
  }
}

@media (prefers-color-scheme: light) {
  color: #121212 !important;
  background-color: #FFFFFF !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #121212 !important;
  }
  nav {
    background-color: #1560FB !important;
  }
  .card-body, .card-footer {
    color: #121212;
    background-color: #E0E0E0;
  }
  .list-inline-item svg {
    fill: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  color: #BDBDBD !important;
  background-color: #121212 !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #BDBDBD !important;
  }
  nav {
    background-color: #212121 !important;
  }
  .card {
    border-color: #616161 !important;
  }
  .card .card-header {
    background-color: #121212;
  }
  .card .card-body, .card .card-footer {
    color: #BDBDBD;
    background-color: #212121;
  }
  .list-inline-item svg {
    fill: #E0E0E0;
  }
}

@media (prefers-color-scheme: dark) and (min-width: 992px) {
  nav {
    background-color: #121212;
  }
}

#sideNav {
  text-align: center;
  -webkit-box-shadow: 1rem;
          box-shadow: 1rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #6093fc;
}

#sideNav .img-profile {
  max-width: 10rem;
  max-height: 10rem;
}

#sideNav .img-navbar {
  height: 40px;
  border: 0.1rem solid #9E9E9E;
  margin-right: 1rem;
}

#sideNav .intro {
  color: #FFFFFF;
}

#sideNav .social-icons a {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-right: 1rem;
}

#sideNav .social-icons a:last-child {
  margin-right: 0;
}

#sideNav .social-icons a:hover {
  background-color: #1560FB;
}

#sideNav .social-icons a svg {
  margin-top: -0.4rem;
  width: 1.75rem;
  height: 1.75rem;
}

#sideNav .themeSwitcher .custom-control.custom-switch .custom-control-input {
  display: none;
}

#sideNav .themeSwitcher .custom-control.custom-switch .custom-control-input:checked ~ .custom-control-indicator::after {
  background-color: #FFFFFF;
  left: 1rem;
}

#sideNav .themeSwitcher .custom-control.custom-switch .custom-control-indicator {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  top: 0.25rem;
  width: 2rem;
  height: 1rem;
  background: #BDBDBD;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#sideNav .themeSwitcher .custom-control.custom-switch .custom-control-indicator::after {
  content: "";
  display: block;
  position: absolute;
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: -0.075rem;
  left: -0.075rem;
  background: #FFFFFF;
}

#sideNav .themeSwitcher .custom-control.custom-switch span {
  color: #FFFFFF;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20%;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    border: 0.25rem solid #9E9E9E;
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
  #sideNav .social-icons, #sideNav .themeSwitcher {
    position: absolute;
    left: 0;
    right: 0;
  }
  #sideNav .social-icons {
    bottom: 3rem;
  }
  #sideNav .themeSwitcher {
    bottom: 1rem;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.projectFilter {
  padding: 1rem 0;
}

.projectFilter button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #1560FB !important;
}

.text-primary {
  color: #1560FB !important;
}

a {
  color: #1560FB;
}

a:hover, a:focus, a:active {
  color: #0341c0;
}

.navbar-brand {
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  text-transform: uppercase;
  font-size: 1.75rem;
}

.custom-switch {
  padding-left: 0;
}

.card {
  overflow: hidden;
  border-radius: 0.5rem;
}

.card .card-img-top {
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

.card .card-img-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card .card-body {
  z-index: 10;
  font-size: 1rem;
}

.card ul {
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
}
/*# sourceMappingURL=style.css.map */